# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
#/.pnp.*

.idea
.next
.swc
node_modules

# dist folder
dist

# Typescript incremental build info
tsconfig.tsbuildinfo
next-env.d.ts

# ESLint cache file
.eslintcache

# macOS DSStore
.DS_Store

# OpenNext.js
.open-next

# env file
# local env files
.env*.local

# OpenNext
/.open-next
dist

# wrangler files
.wrangler
.env
.env.*
.dev.vars
.dev.vars.*
!.dev.vars.example
!.env*example